<h3>New Shop</h3>
{{admin-forms
  createBrand="createBrand"
  createShop="createShop"
  createTempCategory='createTempCategory'
  createTempAisle='createTempAisle'
  createCategory="createCategory"
  createProduct="createProduct"
  setCurrentShop="setCurrentShop"
  brands=model.brands
  shops=model.shops
}}
