<button type="button" class="btn btn-primary" {{action "editLayout"}}>Edit Layout</button>
<div hidden id="hiddenWrapper">
  <div class="col-md-12 col-center">
    <div id="grid-container">
    </div>
  </div>
  <div class="submit-layout col-md-12 col-center">
    <button class="btn btn-block btn-success" {{action 'updateLayout'}}>Update Layout</button>
  </div>
</div>
