<button type="button" class="btn btn-warning btn-edit" {{action "editLayout"}}>Edit Layout (BETA)</button>
<div hidden id="hiddenWrapper">
  <div class="col-md-12 col-center">
    <div id="grid-container">
    </div>
  </div>
  <div class="submit-layout col-md-12 col-center">
    <button class="btn btn-export btn-success" {{action 'updateLayout'}}>Update Layout</button>
  </div>
</div>
