<h1>Create a Shopping List</h1>

{{new-list
  list=model.list
  shop=model.shop
  aisles=model.aisles
  categories=model.categories
  products=model.products
  shopProducts=model.shopProducts
  addProductToList='addProductToList'
  createProductAndAddToList='createProductAndAddToList'
}}
