<h1>Create a Shopping List</h1>

{{new-list
  list=model.list
  shops=model.shops
  aisles=model.aisles
  categories=model.categories
  products=model.products
  createProductAndAddToList='createProductAndAddToList'
}}
