<h3>Please Categorize {{productName}}</h3>
{{#power-select
  options=categories
  placeholder="Choose a Category"
  searchField="name"
  onchange=(action 'selectAction')
  as |category|
}}
  {{category.name}}
{{/power-select}}
