<h3>{{productName}}</h3>
{{#power-select
  options=shopCategories
  placeholder="Choose a Category"
  searchField="name"
  onchange=(action 'createProductAndAddToList')
  as |category|
}}
  {{category.name}}
{{/power-select}}
