<h1>Create a Shopping List</h1>

{{new-list
  shop=model.shop
  shopAisles=model.shopAisles
  shopCategories=model.shopCategories
  allProducts=model.allProducts
  shopProducts=model.shopProducts
  createTempProduct='createTempProduct'
}}
