<h3>Edit {{model.shop.brand.name}}: {{model.shop.name}}</h3>
{{new-shop
  brands=brands
  allAisles=model.aisles
  allCategories=model.categories
  createShop="createShop"
  createTempCategory='createTempCategory'
  createTempAisle='createTempAisle'
}}
