// Colors
$aisle-primary-color-dark:   #689F38;
$aisle-primary-color:        #8BC34A;
$aisle-primary-color-light:  #DCEDC8;
$aisle-primary-color-text:   #212121;
$aisle-accent-color:         #195e53;
$aisle-primary-text-color:   #212121;
$aisle-secondary-text-color: #727272;
$aisle-divider-color:        #B6B6B6;
$aisle-red:                  #FF5252;
$aisle-yellow:               #FFC107;

$white:                  #fff;
$gray-lighter:           lighten($aisle-divider-color, 12%);
$gray-light:             $aisle-divider-color;
$gray:                   $aisle-secondary-text-color;
$gray-dark:              darken($gray, 12%);
$gray-darker:            darken($gray, 25%);
$gray-base:              $aisle-primary-text-color;

$brand-primary:         $aisle-primary-color;
$brand-success:         $aisle-primary-color-dark;
$brand-info:            $aisle-accent-color;
$brand-warning:         $aisle-yellow;
$brand-danger:          $aisle-red;

// General
$aisle-padding-typ: 15px;

// Border
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

// Main elements
$body-bg: $white;

// Navbar
$navbar-default-brand-color: $white;
$navbar-default-color: $white;
$navbar-default-link-color: $white;
$navbar-default-link-hover-color: $aisle-accent-color;
$navbar-default-link-active-color: $white;
$navbar-default-link-active-bg: $aisle-primary-color-dark;
$navbar-default-brand-hover-color: $aisle-accent-color;
$navbar-default-bg: $aisle-primary-color;
$navbar-default-border: $aisle-primary-color;
$navbar-padding-vertical: $aisle-padding-typ;


// Forms
$input-border-focus: $brand-primary;
$input-color: $gray-base;

// Buttons:
$btn-primary-border: $brand-primary;
$btn-success-border: $brand-success;
$btn-info-border: $brand-info;
$btn-warning-border: $brand-warning;
$btn-danger-border: $brand-danger;

// Text
$text-color: $aisle-primary-text-color;
$link-hover-color: $aisle-primary-text-color;
$font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "Abril Fatface", Georgia, "Times New Roman", Times, serif;
$headings-font-weight: 300;

@import '_variables-power-select';
